<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title><%= magia.nome %> - RPG</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" />
</head>
<body>
  <main>
    <h1 id="nome_magia"><%= magia.nome %></h1>

    <h3 class="subtitle">
  <span class="crencas">
    <%= crencas.join(" ou ") %>
  </span>
  <span class="formas">
    <%= formas_de_combate.join(" ou ") %>
  </span>
    </h3>

    <!-- Aqui você pode exibir outros atributos -->
    <p><strong>Nível base:</strong> <%= magia.nivel_base %></p>
    <p><%= magia.descricao %></p>
    <p>
    <strong>Custo:</strong>
        <%= magia.custo_inicial %>, <%= magia.custo_por_rodada %> por rodada, <%= magia.custo_acao%>
    </p>
    <p>Nível: <%= magia.escalonamento %></p>
  </main>

</body>
</html>